@page
@model LeapYear.Pages.Person.IndexModel
@using System.Security.Claims;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeapYearComponent[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeapYearComponent[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeapYearComponent[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeapYearComponent[0].TimeOfWrite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeapYearComponent[0].Outcome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeapYearComponent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfWrite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Outcome)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                @if(User.Identity.IsAuthenticated && item.IdOfUser == User.FindFirstValue(ClaimTypes.NameIdentifier))
                {
                    <span></span>|</span>
                     <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
